<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsplanet.helpingkart">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/mobile_logo"
        android:label="@string/app_name_main"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.AppIntroduction.AppIntroductionActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.OtpActivity" />
        <activity android:name=".Activity.DrawerFragments.Home.ViewActivity.ViewVehicleActivity" />
        <activity android:name=".Activity.DrawerFragments.Home.ViewActivity.ViewFoodActivity" />
        <activity android:name=".Activity.DrawerFragments.Home.ViewActivity.ViewServiceActivity" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.WalletActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <!-- Firebase Notifications -->
        <service android:name=".Class.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Activity.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/APIKEY" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <!-- <activity android:name=".Activity.DemoNotification"></activity> -->
        <!--        <activity android:name=".Activity.Demo"></activity>-->
    </application>

</manifest>